{% extends 'authentication/base.html' %}
{% load i18n %}
{% block forms %}
<div class="form-signin card card-body mx-auto sizing">
    {% if validlink %}
        <h2>{% trans "Жаңа құпия сөз енгізіңіз" %}</h2>
        <form method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="text-danger">{{error}}</p>
                {% endfor %}
            {% endif %}
            <input id="{{form.new_password1.id_for_label}}" name="{{form.new_password1.name}}" type="password" class="form-control form-input" placeholder="{% trans 'Құпия сөз' %}" required />
            {% for error in form.new_password1.errors %}
              <p class="text-danger">{{error}}</p>
            {% endfor %}
            <input id="{{form.new_password2.id_for_label}}" name="{{form.new_password2.name}}" type="password" class="form-control form-input" placeholder="{% trans 'Құпия сөзді растау' %}" required />
            {% for error in form.new_password2.errors %}
                <p class="text-danger">{{error}}</p>
            {% endfor %}
            <input type="submit" class="btn btn-dark" value="{% trans 'Құпия сөзді өзгерту' %}">
        </form>
    {% else %}
        <p>{% trans "Құпия сөзді қалпына келтіру сілтемесі жарамсыз, мүмкін бұл сілтеме бұрын қолданылған. Құпия сөзді қалпына келтіруді қайтадан сұраңыз." %}</p>
    {% endif %}
</div>
{% endblock %}
