{% load i18n %}{% autoescape off %}
{% trans "Сіз бұл электрондық хатты Qatesiz.kz сайтындағы құпия сөзіңізді қалпына келтіруді сұрағандықтан алдыңыз." %}

{% trans "Жаңа құпия сөзді орнату үшін келесі бетке өтіңіз:" %}
    {{ protocol }}://{{ domain }}{% url 'authentication:password_reset_confirm' uidb64=uid token=token %}

{% trans "Егер жоғарыдағы сілтемені басу көмектеспесе, URL мекенжайын көшіріп, браузердің жаңа терезесіне қойыңыз." %}

{% trans "Qatesiz.kz командасы" %}

{% endautoescape %}