<!DOCTYPE html>
<html class="h-100">
{% load static %}
{% load tag_utils %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Text Miner |  {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base/css/all.css' %}"/>
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'base/css/bootstrap-grid.css' %}"/>
    <link rel="stylesheet" href="{% static 'base/css/bootstrap-reboot.css' %}"/>
    <link rel="stylesheet" href="{% static 'base/css/dashboard.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">

    {% block css %}{% endblock %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
</head>

<body class="h-100">
    <nav class="wrapper--w680 navbar navbar-light fixed-top bg-light flex-md-nowrap p-0 shadow ">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'initial' %}">Text Miner</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'authentication:signout' %}"><button class="btn btn-dark" type="submit">Exit</button></a>
                {% else %}
                    <a href="{% url 'authentication:signin' %}"><button class="btn btn-dark" type="submit">Sign In</button></a>
                    <a href="{% url 'authentication:signup' %}"><button class="btn btn-dark" type="submit">Sign Up</button></a>
                {% endif %}
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
            <span class="navbar-toggler-icon"></span>
        </button>
        {% block stage %}
        {% endblock %}
    </div>

<!-- Mainly scripts -->
<script src="{% static 'base/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'base/js/bootstrap.js' %}"></script>

{% block javascript %}{% endblock %}

</body>
</html>
