{% extends "mine/base.html" %}

{% block menu %}
    <div class="list-group-item list-group-item-action bg-dark text-light font-weight-bold">
        Hello, {{user.first_name}}!
    </div>
    <a href="{% url 'mine:moderator-classrooms' %}" class="list-group-item list-group-item-action bg-dark text-light">
        <i class="fa fa-list" style="color: #ff9933"></i> My classrooms
    </a>
    <a href="{% url 'mine:moderator-classroom-create' %}" class="list-group-item list-group-item-action bg-dark text-light">
        <i class="fa fa-list" style="color: #ff9933"></i> Create classroom
    </a>
    <a href="{% url 'mine:moderator-notifications-unread' %}" class="list-group-item list-group-item-action bg-dark text-light">
        <i class="fa fa-bell" style="color: #ff9933"></i> Notifications
    </a>
    <a href="{% url 'mine:moderator-profile' %}" class="list-group-item list-group-item-action bg-dark text-light">
        <i class="fa fa-user" style="color: #ff9933"></i> Profile
    </a>
{% endblock %}
