{% extends "mine/moderator/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="d-flex">
    <a class="h5" href="{% url 'mine:moderator-classrooms' %}">
        <i class="fa fa-arrow-left"></i> {% trans "Артқа" %}
    </a>
    <h5 class="font-weight-bold ml-3">{{classroom.title}}</h5>
</div>
<!-- class="d-flex flex-column align-self-center"-->
<div class="row ml-1 mb-1 mr-1">
    <div class="col-lg-6 col-md-12 pl-4 pr-4">
        <div class="row mb-3">
            <div class="card w-100 rounded-0">
                <div class="card-header d-flex justify-content-between align-items-center rounded-0 bg-dark text-light">
                    <div class="align-self-center">
                        <span class="font-weight-bold h4">{% trans "Тапсырмалар" %}</span>
                    </div>
                    <a href="{% url 'mine:moderator-classroom-task-create' classroom.pk %}"><button class="btn btn-link text-light">+ {% trans "Жаңа тапсырма" %}</button></a>
                </div>
                <ul class="list-group list-group-flush">
                    {% if tasks %}
                        {% for task in tasks %}
                            <li class="list-group-item d-flex justify-content-between">
                                <div class="d-flex flex-column align-self-center" style="width: 90%">
                                    <span class="h6 font-weight-bold">{{task.task_title}}</span>
                                    <p class="h6 text-truncate">{{task.short_text}}</p>
                                </div>
                                <div class="align-self-center h4">
                                    <a href="{% url 'mine:moderator-classroom-edit-task' classroom.pk task.pk %}"><i class="fa fa-pencil mr-1"></i></a>
                                </div>
                            </li>
                        {% endfor %}
                        <div class="d-flex justify-content-around">
                            <ul class="pagination m-1 text-center">
                                {% if tasks.has_previous %}
                                    <li class="page-item ml-1 mr-1"><a class="page-link" href="?task=1"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                                    <li class="page-item ml-1 mr-1"><a class="page-link" href="?task={{tasks.previous_page_number}}"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                {% endif %}

                                {% for number in tasks.paginator.page_range %}
                                    {% if tasks.number == number %}
                                        <li class="page-item ml-1 mr-1 active"><a class="page-link">{{ number }}</a></li>
                                    {% elif number == tasks.number|add:'-1' or number == tasks.number|add:'1' %}
                                        <li class="page-item ml-1 mr-1"><a class="page-link" href="?task={{number}}">{{ number }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if tasks.has_next %}
                                    <li class="page-item ml-1 mr-1"><a class="page-link" href="?task={{tasks.next_page_number}}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                    <li class="page-item ml-1 mr-1"><a class="page-link" href="?task={{tasks.paginator.num_pages}}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% else %}
                        <li class="list-group-item">
                            <span class="h5 align-self-center">{% trans "Сіз әлі ешқандай тапсырма қоспадыңыз" %}</span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row mb-3">
            <div class="card w-100 rounded-0">
                <h4 class="card-header font-weight-bold bg-dark text-light rounded-0">{% trans "Эсселер" %}</h4>
                <ul class="list-group list-group-flush">
                    {% if texts %}
                        {% for text in texts %}
                            <li class="list-group-item d-flex justify-content-between">
                                <div class="d-flex flex-column align-self-center" style="width: 90%">
                                    <span class="h6 font-weight-bold">{{text.task.task_title}}</span>
                                    <p class="h6 text-truncate">{{text.creator}}</p>
                                </div>
                                <div class="align-self-center h4">
                                    <a href="{% url 'mine:moderator-classroom-text-moderate' classroom.pk text.pk %}"><i class="fa fa-edit"></i></a>
                                </div>
                            </li>
                        {% endfor %}
                        <div class="d-flex justify-content-around">
                            <ul class="pagination m-1 text-center">
                                {% if texts.has_previous %}
                                    <li class="page-item ml-1 mr-1"><a class="page-link" href="?text=1"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                                    <li class="page-item ml-1 mr-1"><a class="page-link" href="?text={{texts.previous_page_number}}"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                {% endif %}

                                {% for number in texts.paginator.page_range %}
                                    {% if texts.number == number %}
                                        <li class="page-item ml-1 mr-1 active"><a class="page-link">{{ number }}</a></li>
                                    {% elif number == texts.number|add:'-1' or number == texts.number|add:'1' %}
                                        <li class="page-item ml-1 mr-1"><a class="page-link" href="?text={{number}}">{{ number }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if texts.has_next %}
                                    <li class="page-item ml-1 mr-1"><a class="page-link" href="?text={{texts.next_page_number}}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                    <li class="page-item ml-1 mr-1"><a class="page-link" href="?text={{texts.paginator.num_pages}}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% else %}
                        <li class="list-group-item">
                            <span class="h5 align-self-center">{% trans "Тексерілмеген эсселер жоқ" %}</span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row mb-3">
            <div class="card w-100 rounded-0">
                <h4 class="card-header font-weight-bold bg-dark text-light rounded-0">{% trans "Тексерілген эсселер" %}</h4>
                <ul class="list-group list-group-flush">
                    {% if moderated_texts %}
                        {% for text in moderated_texts %}
                            <li class="list-group-item d-flex justify-content-between">
                                <div class="d-flex flex-column align-self-center" style="width: 80%">
                                    <span class="h6 font-weight-bold">{{text.original.task.task_title}}</span>
                                    <p class="h6 text-truncate">{{text.original.creator}}</p>
                                </div>
                                <div class="align-self-center h5">
                                    <a href="{% url 'mine:moderator-classroom-moderated-text' classroom.pk text.pk %}">{% trans "Толығырақ" %}</a>
                                </div>
                            </li>
                        {% endfor %}
                        <div class="d-flex justify-content-around">
                            <ul class="pagination m-1 text-center">
                                {% if moderated_texts.has_previous %}
                                    <li class="page-item ml-1 mr-1"><a class="page-link" href="?moderated=1"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                                    <li class="page-item ml-1 mr-1"><a class="page-link" href="?moderated={{moderated_texts.previous_page_number}}"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                {% endif %}

                                {% for number in moderated_texts.paginator.page_range %}
                                    {% if moderated_texts.number == number %}
                                        <li class="page-item ml-1 mr-1 active"><a class="page-link">{{ number }}</a></li>
                                    {% elif number == moderated_texts.number|add:'-1' or number == moderated_texts.number|add:'1' %}
                                        <li class="page-item ml-1 mr-1"><a class="page-link" href="?moderated={{number}}">{{ number }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if moderated_texts.has_next %}
                                    <li class="page-item ml-1 mr-1"><a class="page-link" href="?moderated={{moderated_texts.next_page_number}}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                    <li class="page-item ml-1 mr-1"><a class="page-link" href="?moderated={{moderated_texts.paginator.num_pages}}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% else %}
                        <li class="list-group-item">
                            <span class="h5 align-self-center">{% trans "Тексерілген эсселер жоқ" %}</span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 pl-4 pr-4">
        <div class="row mb-3">
            <div class="card w-100 rounded-0">
                <div class="card-header d-flex justify-content-between align-items-center rounded-0 bg-dark text-light">
                    <div class="align-self-center">
                        <span class="font-weight-bold h4">{% trans "Сынып коды" %}</span>
                    </div>
                    <div class="input-group w-auto">
                        <input id="invitation-code" type="text" class="form-control" value={{classroom.invitation_code}} readonly>
                        <div class="input-group-append">
                            <button class="btn btn-outline-light" type="button" onclick="myFunction()"><i class="fa fa-clipboard"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="card w-100 rounded-0">
                <h4 class="card-header font-weight-bold rounded-0 bg-dark text-light">{% trans "Студенттер" %}</h4>
                <ul class="list-group list-group-flush">
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{% trans "Сенімдісіз бе?" %}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Болдырмау" %}</button>
                                    <a class="deleteUrl">
                                        <button type="button" class="btn btn-danger">{% trans "Йә" %}</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for user in participants %}
                        <li class="list-group-item d-flex justify-content-between align-content-center">
                            <div class="align-self-center"  style="width: 90%;">
                                <p class="h6 text-truncate">{{user.user.first_name}} {{user.user.last_name}}</p>
                                <p class="font-weight-bold text-truncate">{{user.user.email}}</p>
                            </div>
                            <span class="h4 align-self-center" data-toggle="modal" data-target="#deleteModal" data-userid="{% url 'mine:moderator-classroom-user-remove' object.pk user.pk%}"><i class="fa fa-trash-o text-danger"></i></span>
                        </li>
                    {% empty %}
                        <li class="list-group-item">
                            <span class="h5 align-self-center">{% trans "Бұл сыныпта әлі студент жоқ" %}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row mb-3">
            <div class="card w-100 rounded-0">
                <h4 class="card-header font-weight-bold rounded-0 bg-danger text-light">{% trans "Сыныпты жою" %}</h4>
                <div class="card-body">
                    <p class="card-text">
                            {% trans "Сыныпты жойғаннан кейін студенттерді сыныпқа шақыра алмайсыз. Сіз барлық тапсырмаларыңыздан және тапсырмалардың нәтижелерінен айрыласыз." %}
                    </p>
                </div>
                <div class="card-footer d-flex flex-column align-items-end">
                    <a href="#TODO">
                        <button class="btn btn-link text-danger" data-toggle="modal" data-target="#deleteClassroomInfo">{% trans "Сыныпты жою" %}</button>
                    </a>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="deleteClassroomInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-danger">
                                <h5 class="modal-title text-light" id="exampleModalLongTitle">{% trans "Сыныпты жою" %}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span class="text-light" aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {% trans "Сыныпты өшіру әзірге мүмкін емес. Егер сіз сыныпты жойғыңыз келсе, бізге хабарласыңыз." %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'base/js/copy.js' %}"></script>
<script defer>
    $('#deleteModal').on('show.bs.modal', function (event) {
        var span = $(event.relatedTarget)
        var url = span.data('userid')
        console.log(url)
        var modal = $(this)
        modal.find('.deleteUrl').attr('href', url)
    })
</script>
{% endblock %}