{% extends "mine/moderator/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <div class="d-flex mb-2">
        <a class="h5" href="{% url 'mine:moderator-classroom-detail' task.classroom.pk %}">
            <i class="fa fa-arrow-left"></i> {% trans "Артқа" %}
        </a>
        <h5 class="font-weight-bold ml-3">{{task.classroom.title}}</h5>
    </div>
    <div class="card card-body border col-xs-12 col-md-6 mb-4">
        <form method="post" class="uniForm">
            {% crispy form %}
        </form>
    </div>
{% endblock %}