{% extends "mine/moderator/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="d-flex mb-3">
        <a class="h5" href="{% url 'mine:moderator-classroom-detail' classroom.pk %}">
            <i class="fa fa-arrow-left"></i> Back
        </a>
        <h5 class="font-weight-bold ml-3">{{classroom.title}}</h5>
    </div>
    <div class="card card-body border col-xs-12 col-md-6">
        <form method="post" class="uniForm">
            {% crispy form %}
        </form>
    </div>
{% endblock %}