{% extends "mine/moderator/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex mb-3">
    <a class="h5" href="{% url 'mine:moderator-classroom-detail' text.task.classroom.pk %}">
        <i class="fa fa-arrow-left"></i> Back
    </a>
    <h5 class="font-weight-bold ml-3">{{text.task.classroom.title}}</h5>
</div>
<div class="col-md-12 col-lg-6">
    <div class="card rounded-0">
        <div class="card-header d-flex align-items-center rounded-0 bg-dark text-light">
            <div>
                <span class="font-weight-bold h4">{{ text.task.task_title }}</span>
            </div>
        </div>

        <p class="card-text h6 ml-4 mr-4 mb-2 mt-3">{{ text.task.task_description }}</p>

        <div class="card-body ">
            <div class="card card-body mb-3 shadow">
                <p class="card-text">{{text.content}}</p>
            </div>
            <form method="post" class="uniForm">
                {% crispy form %}
            </form>
        </div>
    </div>
</div>
{% endblock %}