{% extends "mine/moderator/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<div class="d-flex mb-2">
    <a class="h5" href="{% url 'mine:moderator-classroom-detail' moderated_text.original.task.classroom.pk %}">
        <i class="fa fa-arrow-left"></i> {% trans "Артқа" %}
    </a>
    <h5 class="font-weight-bold ml-3">{{moderated_text.original.task.classroom.title}}</h5>
</div>
<div class="col-md-12 col-lg-8 col-xl-6">
    <div class="card mb-4 shadow-sm rounded-0">
        <div class="card-header d-flex align-items-center rounded-0 bg-dark text-light">
            <div>
                <span class="font-weight-bold h4">{{ moderated_text.original.task.task_title }}</span>
            </div>
        </div>

        <p class="card-text h6 ml-4 mr-4 mb-2 mt-3">{{ moderated_text.original.task.task_description }}</p>

        <div class="card-body">
            <p class="card-text h6">{% trans "Тапсырылған эссе" %}</p>
            <div class="card card-body mb-4  shadow">
                <p class="card-text h6">{{ moderated_text.original.content }}</p>
            </div>

            <p class="card-text h6">{% trans "Тексерілген" %}</p>
            <div class="card card-body mb-3 shadow">
                <p class="card-text h6">{{ moderated_text.content }}</p>
            </div>

            <div class="card card-body mb-3 shadow">
                <p class="card-text h6">{% trans "Сауаттылығы үшін баға" %}<span class="font-weight-bold">: {{ moderated_text.grammar_grade }}/10</span></p>
                <p class="card-text h6">{% trans "Мазмұны үшін баға" %}<span class="font-weight-bold">: {{ moderated_text.essay_grade }}/10</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}