<!DOCTYPE html>
<html>
    {% load static %}
	<head>
        <meta charset="utf-8">
		<title>Text Miner |  {% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'authentication/css/initial.css' %}">
        {% block styles %}{% endblock %}
	</head>
	<body>
		{% if user.is_authenticated %}
			<nav class="menu">
				<ul class="menu-list">
					<li class="menu-list-item"><a class="dropdown-item" href="{% url 'mine:admin-initial' %}">Admin Cabinet</a></li>
					<li class="menu-list-item"><a class="dropdown-item" href="#">####</a></li>
					<li class="menu-list-item"><a class="dropdown-item" href="#">####</a></li>
					<li class="menu-list-item"><a class="dropdown-item" href="{% url 'authentication:signout' %}">Exit</a></li>
				</ul>
			</nav>
		{% else %}
			<nav class="menu">
				<ul class="menu-list">
					<li class="menu-list-item"><a href="{% url 'authentication:signup' %}">Sign Up</a></li>
					<li class="menu-list-item"><a href="{% url 'authentication:signin' %}">Sign In</a></li>
				</ul>
			</nav>
		{% endif %}
		{% block content %}{% endblock %}
		<footer></footer>
		{% block javascript %}{% endblock %}
	</body>
</html>