{% extends "base/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'authentication/css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/css/level_chooser_content.css' %}">
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
{% endblock %}

{% block navigation %}
    <li class="nav-item active">
        <a class="nav-link" href="#TODO">About</a>
    </li>
{% endblock %}

{% block stage %}
    <div class="col-2"></div>
    <div class="col-8 content-block">
        {% block content %}
        {% endblock content%}
    </div>
    <div class="col-2"></div>
{% endblock %}