<!DOCTYPE html>
<html class="h-100">
{% load static %}
{% load i18n %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Qatesiz.kz</title>
    <link href="{% static 'base/css/landing.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.css' %}"/>
	<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
	<script src="{% static 'base/js/bootstrap.bundle.js' %}"></script>
	<script src="{% static 'base/js/bootstrap.js' %}"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
	  	<a class="navbar-brand mr-auto p-2" href="{% url 'initial' %}">Qatesiz.kz</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>
	  	<ul class="nav navbar-nav ml-auto">
	  		<div class="collapse navbar-collapse" id="navbarNav">
	  			<div class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="{% static 'base/img/worlwide.png' %}" alt="Logo" style="width:25px;"/>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <button type="submit" class="dropdown-item {% if language.code == LANGUAGE_CODE %} bg-dark text-light {% endif %}" name="language" value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</button>
                            {% endfor %}
                            <input name="next" type="hidden" value="{{request.get_full_path}}">
                        </form>
					</div>
				</div>

				<a href="{% url 'authentication:signin' %}"><button class="btn btn-outline-warning mr-1" type="button" id='b1'>{% trans "Кіру" %}</button></a>
				<a href="{% url 'authentication:signup' %}"><button class="btn btn-dark" type="button" id='b2'>{% trans "Бастау" %}</button></a>
	  		</div>
		</ul>
	</nav>
	<div id="banner"  class="jumbotron text-center smooth-scroll list-unstyled">
		<h1 id="banner-title-jbt">Qatesiz.kz</h1>
  		<p id='b3'>{% trans "ҚАЗАҚ ТІЛІҢДІ БІЗБЕН БІРГЕ ДАМЫТ! БҰЛ ТЕГІН!" %}</p>
	</div>

  	<div class="card-deck mx-auto">
  		<div class="card shadow p-3 mb-5 bg-white rounded">
			<a href=""><img src="{% static 'base/img/ic1.png' %}" class="card-img-top" alt="..."></a>
    		<div class="card-body">
    			<hr>
      			<h5 class="card-title text-center" id="c1">{% trans "Деңгейіңді таңда" %}</h5>
	    	</div>
  		</div>
		<div class="card shadow p-3 mb-5 bg-white rounded">
			<a href=""><img src="{% static 'base/img/ic2.png' %}" class="card-img-top" alt="..."></a>
			<div class="card-body">
				<hr>
				<h5 class="card-title text-center" id="c2">{% trans "Тапсырмаңды таңда" %}</h5>
			</div>
		</div>
		<div class="card shadow p-3 mb-5 bg-white rounded">
			<a href=""><img src="{% static 'base/img/ic3.png' %}" class="card-img-top" alt="..."></a>
			<div class="card-body">
				<hr>
				<h5 class="card-title text-center" id='c3'>{% trans "Эссе жаз" %}</h5>
			</div>
		</div>
	</div>

	<div class="container-fluid smooth-scroll list-unstyled">
  		<h2 id="d1">{% trans "Бізбен бірге тезірек үйрен!" %}<br></h2>
		<h2 id="d2">{% trans "Өзіңнің жазуларыңды" %}</h2>
		<h2 id="d3">{% trans "Қазақ тіліңде шынықтыр!" %}</h2>
	  	<div class="row d-flex justify-content-center">
	    	<div class="col-sm-5 " style="background-color:white;">
	    		<img src="{% static 'base/img/books.png' %}" alt="Logo" style="width:90%" id="im1">
	    	</div>

			<div class="col-sm-4" style="background-color:#e5e4e2; padding-top:10vh;">
				<h4 id="d4" class="font-italic">
					{% trans "“Адамның адамдық, ұлттың ұлттық ең жоғарғы қасиеті – тіл өткірлігі мойымасын, тіл сұлулығы кемімесін!” ~ Ғабиден Мұстафин" %}
				</h4>
				<h3 class="mt-5">
					{% trans "Қазіргі заманда жаңа ұрпақтардың қазақ тіліне деген қызығушылығы өсуде. Сондықтан, біз қоғамға үлесімізді қосу үшін, адамдардың қазақ тіліндегі сауаттылығын арттырғымыз келеді. Біз тәгін әрі жеңіл жолмен көмектесеміз." %}
				</h3>

			</div>
		</div>
	</div>

	<div style="width: 50vw; height:50vh; margin: auto;">
		<h2 style="text-align: center;" id="s1">{% trans "Бұл біздің видео нұсқаулық" %}</h2>
		{% if LANGUAGE_CODE == 'kk' %}
			<iframe class="w-100 h-100" src="https://www.youtube.com/embed/NqV-Zu5GeiI"></iframe>
		{% elif LANGUAGE_CODE == 'en' %}
			<iframe class="w-100 h-100" src="https://www.youtube.com/embed/Avii5BT_H0g"></iframe>
		{% endif %}
	  	<div class="col-md-4 text-center mx-auto" style="margin-top: 7vh; margin-bottom: 5vh;">
	    	<a class="btn btn-warning" id="p1" href="{% url 'authentication:signup' %}">{% trans "Осында баста!" %}</a>
		</div>
	</div>

</body>
</html>