{% extends "authentication/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block forms %}
    <div class="form-signin card card-body mx-auto sizing">
        <h1 class="h3 mb-3 font-weight-normal">{% trans "Кіру" %}</h1>
        <form method="post">
            {% crispy form %}
        </form>
        <a href="{% url 'authentication:password_reset' %}" class="mt-2">{% trans "Құпия сөзді ұмыттыңыз ба?" %}</a>
    </div>
    <div class="card card-body mx-auto sizing sizing-helper text-center">
        <p class="m-0">{% trans "Аккаунтыңыз жоқ па?" %} <a href="{% url 'authentication:signup' %}">{% trans "Тіркеліңіз" %}</a></p>
    </div>
{% endblock %}