<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load i18n %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Qatesiz.kz</title>

	<link rel="stylesheet" href="{% static 'base/css/error.css' %}"/>

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h3>{% trans "Бет табылмады" %}</h3>
				<h1><span>4</span><span>0</span><span>4</span></h1>
			</div>
			<h2>{% trans "кешіріңіз, бірақ сіз сұраған бет табылмады" %}</h2>
		</div>
	</div>

</body>

</html>
