{% extends "mine/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'mine/css/base.css' %}"/>
{% endblock %}

{% block sidebar %}
    <li class="nav-item justify-content-center align-items-center" style="padding-bottom: 0.5rem">
        <span class="nav-link font-weight-bold ">
            Hello, {{user.first_name}}!
        </span>
    </li>
    <li class="nav-item" style="padding-bottom: 0.5rem">
        <span data-feather="home"></span>
        <a class="nav-link" href="{% url 'mine:miner-raw-texts' %}">
            <i class="fa fa-list" style="color: #ff9933"></i> Raw data
        </a>
    </li>
    <li class="nav-item" style="padding-bottom: 0.5rem">
        <a class="nav-link" href="{% url 'mine:miner-tasks-beginner' %}">
            <i class="fa fa-star" style="color: #ff9933"></i> Beginner
        </a>
    </li>
    <li class="nav-item" style="padding-bottom: 0.5rem">
        <a class="nav-link" href="{% url 'mine:miner-tasks-intermediate' %}">
            <i class="fa fa-star" style="color: #ff9933"></i><i class="fa fa-star" style="color: #ff9933"></i> Intermediate
        </a>
    </li>
    <li class="nav-item" style="padding-bottom: 0.5rem">
        <a class="nav-link" href="{% url 'mine:miner-tasks-advanced' %}">
            <i class="fa fa-star" style="color: #ff9933"></i><i class="fa fa-star" style="color: #ff9933"></i><i class="fa fa-star" style="color: #ff9933"></i> Advanced
        </a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" href="{% url 'mine:miner-classrooms' %}">
            <i class="fa fa-list" style="color: #ff9933"></i> My classrooms
        </a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" href="{% url 'mine:miner-classroom-join' %}">
            <i class="fa fa-group" style="color: #ff9933"></i> Join a classroom
        </a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" href="{% url 'mine:miner-profile' %}">
            <i class="fa fa-user" style="color: #ff9933"></i> Profile
        </a>
    </li>
{% endblock %}

{% block content %}
{% endblock %}
