{% extends "mine/base.html" %}

{% block menu %}
    <div class="list-group-item list-group-item-action bg-dark text-light font-weight-bold">
        Hello, {{user.first_name}}!
    </div>
    {% for main_classroom in main_classrooms %}
        <a href="{% url 'mine:miner-tasks' main_classroom.pk %}" class="list-group-item list-group-item-action bg-dark text-light"><i class="fa fa-star" style="color: #ff9933"></i> {{main_classroom.title}}</a>
    {% endfor %}
    <a href="{% url 'mine:miner-classrooms' %}" class="list-group-item list-group-item-action bg-dark text-light">
        <i class="fa fa-list" style="color: #ff9933"></i> My classrooms
    </a>
    <a href="{% url 'mine:miner-classroom-join' %}" class="list-group-item list-group-item-action bg-dark text-light">
        <i class="fa fa-group" style="color: #ff9933"></i> Join a classroom
    </a>
    <a href="{% url 'mine:miner-notifications-unread' %}" class="list-group-item list-group-item-action bg-dark text-light">
        <i class="fa fa-bell" style="color: #ff9933"></i> Notifications
    </a>
    <a href="{% url 'mine:miner-profile' %}" class="list-group-item list-group-item-action bg-dark text-light">
        <i class="fa fa-user" style="color: #ff9933"></i> Profile
    </a>
{% endblock %}