{% extends "mine/miner/base.html" %}

{% block content %}
    {% for classroom in classrooms %}
        <div class="card bg-white text-decoration-none mb-3 col-sm-12 col-lg-6">
            <div class="row d-flex justify-content-between pl-3 pr-3 pt-1 pb-1">
                <div class="pl-4 pt-2">
                    <div class="row">
                        <h4 class="card-title font-weight-bold">
                            {% if classroom.badge > 0 %}
                                <span class="badge badge-primary badge-pill">{{classroom.badge}}</span>
                            {% endif %}
                            {{classroom.title}}
                        </h4>
                    </div>
                    <div class="row">
                        <h6 class="card-title">{{classroom.owner.first_name}} {{classroom.owner.last_name}}</h6>
                    </div>
                </div>
                <a href="{% url 'mine:miner-classroom-detail' classroom.pk %}" class="align-self-center">
                    <button class="btn-dark btn float-right">View</button>
                </a>
            </div>
        </div>
    {% empty %}
        <div class="h-100 d-flex justify-content-center">
            <div class="d-flex flex-column align-items-center">
                <span class="h5">You haven't joined any classrooms yet ¯\_(ツ)_/¯</span>
                <a href="{% url 'mine:miner-classroom-join' %}"><button class="btn btn-dark">Join a classroom</button></a>
            </div>
        </div>
    {% endfor %}
{% endblock %}