{% extends "mine/miner/base.html" %}
{% load i18n %}
{% block content %}
    {% for classroom in classrooms %}
        <div class="card bg-white text-decoration-none mb-3 col-sm-12 col-lg-6">
            <div class="d-flex justify-content-between pt-3 pb-3">
                <div class="d-flex flex-column align-self-center" style="width: 90%">
                    <span class="h4 font-weight-bold">
                        {% if classroom.badge > 0 %}
                            <span class="badge badge-primary badge-pill">{{classroom.badge}}</span>
                        {% endif %}
                        {{classroom.title}}
                    </span>
                    <p class="h6 text-truncate">{{classroom.owner.first_name}} {{classroom.owner.last_name}}</p>
                </div>
                <div class="align-self-center h5">
                    <a href="{% url 'mine:miner-classroom-detail' classroom.pk %}" class="align-self-center">
                        <button class="btn-dark btn float-right">{% trans "Өту" %}</button>
                    </a>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="h-100 d-flex justify-content-center">
            <div class="d-flex flex-column align-items-center">
                <span class="h5">{% trans "Сіз әлі бірде-бір сыныпқа қосылған жоқсыз" %}</span>
                <a href="{% url 'mine:miner-classroom-join' %}"><button class="btn btn-dark">{% trans "Сыныпқа қосылу" %}</button></a>
            </div>
        </div>
    {% endfor %}
{% endblock %}