{% extends "mine/miner/base.html" %}

{% block content %}
    {% for classroom in classrooms %}
        <div class="card bg-white text-decoration-none mb-3 col-sm-12 col-lg-6">
            <div class="row">
                <div class="col">
                    <div class="pl-4 pt-2">
                        <div class="row">
                            <h4 class="card-title font-weight-bold">{{classroom.title}}</h4>
                        </div>
                        <div class="row">
                            <h6 class="card-title">{{classroom.owner.first_name}} {{classroom.owner.last_name}}</h6>
                        </div>
                    </div>
                </div>
                <a href="{% url 'mine:miner-classroom-detail' classroom.pk %}" class="col align-self-center">
                    <button class="btn-dark btn float-right">View</button>
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}