{% extends "mine/miner/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex">
    <a class="h5" href="{% url 'mine:miner-classrooms' %}">
        <i class="fa fa-arrow-left"></i> Back
    </a>
    <h5 class="font-weight-bold ml-3">{{classroom.title}}</h5>
</div>

<div class="row ml-1 mb-1 mr-1">
    <nav class="w-100 mb-2">
        <div class="nav nav-tabs">
            <a class="nav-item nav-link active" href="{% url 'mine:miner-classroom-detail' classroom.pk %}">New tasks</a>
            <a class="nav-item nav-link" href="{% url 'mine:miner-classroom-detail-results' classroom.pk %}">Results</a>
        </div>
    </nav>
    <div class="m-1 row w-100">
        {% for task in tasks.all %}
            <div class="col-md-12 col-lg-6 col-xl-4">
                <div class="card mb-3 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title text-truncate"><span class="badge badge-primary">New</span> {{task.task_title}}</h4>
                        <p class="card-text text-truncate">{{task.task_description}}</p>
                        <a href="{% url 'mine:miner-classroom-task-detail' object.pk task.pk %}" class="btn btn-dark">Do</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="card p-4 col-lg-5 col-md-10 col-xs-12 col-xl-4">
                <span class="h3">View classroom updates</span>
                <span class="h6"><i class="fa fa-book"></i> New assignments will be posted here</span>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}