{% extends "mine/miner/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<nav class="nav nav-pills nav-justified mb-2">
  <a class="nav-link active" href="{% url 'mine:miner-tasks' view.kwargs.pk %}">{% trans "Жаңа тапсырмалар" %}</a>
  <a class="nav-link" href="{% url 'mine:miner-results' view.kwargs.pk %}">{% trans "Нәтижелер" %}</a>
</nav>
<div class="row">
    {% for task in tasks %}
        <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <h4 class="card-title text-truncate">{{task.task_title}}</h4>
                    <p class="card-text text-truncate">{{task.task_description}}</p>
                    <a href="{% url 'mine:miner-task-detail' view.kwargs.pk task.pk %}" class="btn btn-dark">{% trans "Тапсырмаға өту" %}</a>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="ml-4 card p-4 col-lg-5 col-md-10 col-xs-12 col-xl-4">
            <span class="h6 m-0"><i class="fa fa-book"></i> {% trans "Жаңа тапсырмалар осы жерде жарияланады" %}</span>
        </div>
    {% endfor %}
</div>
{% endblock %}