{% extends "mine/miner/base.html" %}

{% block content %}
    <div class="row">
        <nav class="w-100 m-3">
            <div class="nav nav-tabs w-100 nav-tabs-justified" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-unread-tab" data-toggle="tab" href="#nav-unread" role="tab" aria-controls="nav-unread" aria-selected="true">Unread</a>
                <a class="nav-item nav-link" id="nav-read-tab" data-toggle="tab" href="#nav-read" role="tab" aria-controls="nav-read" aria-selected="false">Read</a>
                <a class="nav-item nav-link" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="false">All notifications</a>
            </div>
        </nav>
        <div class="tab-content m-3 col-sm-12 col-md-12 col-lg-12 col-xl-6" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-unread" role="tabpanel" aria-labelledby="nav-tasks-tab">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        {% if unread_notifications.all %}
                            {% for notification in unread_notifications.all %}
                                <li class="list-group-item d-flex justify-content-between">
                                    <div class="d-flex flex-column align-self-center">
                                        <a href="{% url 'mine:miner-profile' %}" class="h6 font-weight-bold">{{notification.description}}</a>
                                        <p class="h6 text-truncate">{{notification.timestamp}}</p>
                                    </div>
                                    <div class="align-self-center h5">
                                        <a href="{% url 'mine:miner-notification-status-toggle' notification.pk %}"><i class="fa fa-check mr-1"></i></a>
                                    </div>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item">
                                <span class="h5 align-self-center">No tasks yet</span>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade show" id="nav-read" role="tabpanel" aria-labelledby="nav-tasks-tab">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        {% if read_notifications.all %}
                            {% for notification in read_notifications.all %}
                                <li class="list-group-item d-flex justify-content-between">
                                    <div class="d-flex flex-column align-self-center">
                                        <a href="{% url 'mine:miner-initial' %}" class="h6 font-weight-bold">{{notification.description}}</a>
                                        <p class="h6 text-truncate">{{notification.timestamp}}</p>
                                    </div>
                                    <div class="align-self-center h5">
                                        <a class="" href="{% url 'mine:miner-notification-status-toggle' notification.pk %}"><i class="fa fa-circle mr-1"></i></a>
                                    </div>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item">
                                <span class="h5 align-self-center">No tasks yet</span>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade show" id="nav-all" role="tabpanel" aria-labelledby="nav-tasks-tab">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        {% if object_list.all %}
                            {% for notification in object_list.all %}
                                <li class="list-group-item d-flex justify-content-between">
                                    <div class="d-flex flex-column align-self-center">
                                        <a href="{% url 'mine:miner-initial' %}" class="h6 font-weight-bold">{{notification.description}}</a>
                                        <p class="h6 text-truncate">{{notification.timestamp}}</p>
                                    </div>
                                    <div class="align-self-center h5">
                                        {% if notification.read %}
                                            <a class="" href="{% url 'mine:miner-notification-status-toggle' notification.pk %}"><i class="fa fa-circle mr-1"></i></a>
                                        {% else %}
                                            <a class="" href="{% url 'mine:miner-notification-status-toggle' notification.pk %}"><i class="fa fa-check mr-1"></i></a>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item">
                                <span class="h5 align-self-center">No tasks yet</span>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}