{% extends "mine/miner/base.html" %}
{% load humanize %}

{% block content %}
    <div class="row">
        <nav class="w-100 m-3">
            <div class="nav nav-tabs">
                <a href="{% url 'mine:miner-notifications-unread' %}" class="nav-item nav-link active">Unread</a>
                <a href="{% url 'mine:miner-notifications-read' %}" class="nav-item nav-link">Read</a>
            </div>
        </nav>
        {% if notifications.all %}
            <div class="m-3 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        {% for notification in notifications.all %}
                            <li class="list-group-item d-flex justify-content-between">
                                <div class="d-flex flex-column align-self-center">
                                    <a href={{notification.link}} class="h6 font-weight-bold">{{notification.description}}</a>
                                    <p class="h6 text-truncate">{{notification.date|naturaltime}}</p>
                                </div>
                                <div class="align-self-center h5">
                                    <a href="{% url 'mine:miner-notification-status-toggle' notification.pk %}"><i class="fa fa-check mr-1"></i></a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="card m-3 p-4 col-lg-5 col-md-10 col-xs-12 col-xl-4">
                <span class="h3">View notifications</span>
                <span class="h6"><i class="fa fa-bell"></i> Unread notifications will be here</span>
            </div>
        {% endif %}

    </div>
{% endblock %}