{% extends "mine/miner/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <h5 class="font-weight-bold ml-3 mb-4">{{task.task_level}}</h5>
    <div class="col-md-8 flex-grow-1">
        <div class="card mb-4 shadow-sm">
            <h3 class="card-header font-weight-bold">{{ task.task_description }}</h3>
            <div class="card-body">
<!--                TODO-->
                <form method="post" class="uniForm">
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}