{% extends "new_base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'levels/css/style4.css' %}">
{% endblock %}
{% block content %}
    <header>
        <div class="bg">
            <div class="content">
                <div class="card">
                    <div class="topper"><h2>{{object.task_description}}</h2></div>
                    <div class="bottomer">
<!--                        <p>You see a notice about a cooking competition in school. For the competition, you need to write a recipe for an easy dish. For example, an omelette, a smoothie, bread etc.-->
                    </div>
                    <div class="inputter">
<!--                        <textarea rows="15" cols="100" name="comment" form="usrform"></textarea>-->
                        <form method="post" class="uniForm">
                            {% crispy form %}
                        </form>
<!--                        <button>Submit</button>-->
                    </div>
                </div>

            </div>

        </div>

    </header>
{% endblock %}