{% extends "mine/miner/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="d-flex mb-2">
        <a class="h5" href="{% url 'mine:miner-classroom-detail' task.classroom.pk %}">
            <i class="fa fa-arrow-left"></i> Back
        </a>
        <h5 class="font-weight-bold ml-3">{{task.classroom.title}}</h5>
    </div>
    <div class="col-md-12 col-lg-6 flex-grow-1">
        <div class="card mb-4 shadow-sm rounded-0">
            <div class="card-header d-flex align-items-center rounded-0 bg-dark text-light">
                <div>
                    <span class="font-weight-bold h4">{{ task.task_title }}</span>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text h6 mb-4">{{ task.task_description }}</p>
                <form method="post" class="uniForm">
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}