{% extends "mine/miner/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="d-flex ml-3 mb-4">
        <a class="h5" href="{% url 'mine:miner-classroom-detail' view.kwargs.cpk %}">
            <i class="fa fa-arrow-left"></i> Back
        </a>
        <h5 class="font-weight-bold ml-3">{{ task.task_title }} - {{task.task_level}}</h5>
    </div>
    <div class="col-md-8 flex-grow-1">
        <div class="card mb-4 shadow-sm">
            <h3 class="ml-3 mt-2 mr-3 card-text">{{ task.task_description }}</h3>
            <div class="card-body">
                <form method="post" class="uniForm">
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}